// lista-empleados.component.sass

.container
  max-width: 800px
  margin: 0 auto
  padding: 20px

.filter-container
  display: flex
  align-items: center
  margin-bottom: 20px

  input
    padding: 10px
    font-size: 16px
    margin-right: 10px
    border: 1px solid #ddd
    border-radius: 5px

  button
    padding: 10px 15px
    font-size: 16px
    background-color: #4CAF50
    color: white
    border: none
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.3s ease

    &:hover
      background-color: #45a049

.employee-card
  background-color: #f9f9f9
  padding: 15px
  margin-bottom: 10px
  border-radius: 8px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  display: flex
  justify-content: space-between
  align-items: center

  .button-container
    display: flex
    gap: 10px
    margin-top: 10px

  p
    margin: 0
    font-size: 18px

  button
    padding: 8px
    font-size: 14px
    margin-left: 10px
    cursor: pointer
    border: none
    border-radius: 5px

    &.edit-button
      background-color: #3498db
      color: white

    &.delete-button
      background-color: #e74c3c
      color: white

    &:hover
      opacity: 0.8
