<!-- lista-empleados.component.html -->

<div class="container">
  <!-- Filtros -->
  <div class="filter-container">
    <input type="text" [(ngModel)]="filtroNombre" placeholder="Filtrar por Nombre">
    <button (click)="filtrarEmpleados()">Filtrar</button>
  </div>

  <!-- Lista de empleados -->
  <div *ngFor="let empleado of empleados" class="employee-card">
    <p>{{ empleado.primer_nombre }} {{ empleado.primer_apellido }} - {{ empleado.correo_electronico }}</p>
    <div class="button-container">
      <button (click)="editarEmpleado(empleado)" class="edit-button">Editar</button>
      <button (click)="eliminarEmpleado(empleado)" class="delete-button">Eliminar</button>
    </div>
  </div>
</div>
