<div class="container mt-5">
  <!-- Formulario de registro de empleado -->
  <form (submit)="registrarEmpleado()" class="mat-elevation-z8 p-4">

    <!-- Primer Nombre -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Primer Nombre" [(ngModel)]="nuevoEmpleado.primer_nombre" id="primer_nombre" name="primer_nombre" required pattern="[A-Za-z]{1,20}" (change)="generarCorreoElectronico()">
    </mat-form-field>

    <!-- Otros Nombres -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Otros Nombres" [(ngModel)]="nuevoEmpleado.otros_nombres" id="otros_nombres" name="otros_nombres" pattern="[A-Za-z ]{0,50}">
    </mat-form-field>

    <!-- Primer Apellido -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Primer Apellido" [(ngModel)]="nuevoEmpleado.primer_apellido" id="primer_apellido" name="primer_apellido" required pattern="[A-Za-z]{1,20}" (change)="generarCorreoElectronico()">
    </mat-form-field>

    <!-- Segundo Apellido -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Segundo Apellido" [(ngModel)]="nuevoEmpleado.segundo_apellido" id="segundo_apellido" name="segundo_apellido" required pattern="[A-Za-z]{1,20}">
    </mat-form-field>

    <!-- País del empleo -->
    <mat-form-field class="mb-3">
      <mat-select placeholder="País del empleo" [(ngModel)]="nuevoEmpleado.pais_empleo" id="pais_empleo" name="pais_empleo" required (selectionChange)="generarCorreoElectronico()">
        <mat-option value="Colombia">Colombia</mat-option>
        <mat-option value="Estados Unidos">Estados Unidos</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Tipo de Identificación -->
    <mat-form-field class="mb-3">
      <mat-select placeholder="Tipo de Identificación" [(ngModel)]="nuevoEmpleado.tipo_identificacion" id="tipo_identificacion" name="tipo_identificacion" required>
        <mat-option value="CedulaCiudadania">Cédula de Ciudadanía</mat-option>
        <mat-option value="CedulaExtranjeria">Cédula de Extranjería</mat-option>
        <mat-option value="Pasaporte">Pasaporte</mat-option>
        <mat-option value="PermisoEspecial">Permiso Especial</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Número de Identificación -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Número de Identificación" [(ngModel)]="nuevoEmpleado.numero_identificacion" id="numero_identificacion" name="numero_identificacion" required pattern="[A-Za-z0-9-]{1,20}">
    </mat-form-field>

    <!-- Correo Electrónico -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Correo Electrónico" [(ngModel)]="nuevoEmpleado.correo_electronico" id="correo_electronico" name="correo_electronico" disabled>
    </mat-form-field>

    <!-- Fecha de Ingreso -->
    <mat-form-field class="mb-3">
      <input matInput type="date" placeholder="Fecha de Ingreso" [(ngModel)]="nuevoEmpleado.fecha_ingreso" id="fecha_ingreso" name="fecha_ingreso" required>
    </mat-form-field>    

    <!-- Área -->
    <mat-form-field class="mb-3">
      <mat-select placeholder="Área" [(ngModel)]="nuevoEmpleado.area" id="area" name="area" required>
        <mat-option *ngFor="let area of areas" [value]="area">{{ area }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Estado -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Estado" [(ngModel)]="nuevoEmpleado.estado" id="estado" name="estado" disabled>
    </mat-form-field>

    <!-- Fecha y hora de registro -->
    <mat-form-field class="mb-3">
      <input matInput placeholder="Fecha y hora de registro" [(ngModel)]="nuevoEmpleado.fecha_ingreso" id="fecha_ingreso" name="fecha_ingreso" disabled>
    </mat-form-field>

    <!-- Botón de Registro -->
    <button mat-raised-button color="primary" type="submit">Registrar Empleado</button>

  </form>

  <!-- Mensajes de Registro -->
  <div *ngIf="mensajeRegistro" class="mt-3 alert alert-success">
    {{ mensajeRegistro }}
  </div>

  <!-- Mensajes de Error -->
  <div *ngIf="errorRegistro" class="mt-3 alert alert-danger">
    {{ errorRegistro }}
  </div>
</div>
