// app.component.sass

.container
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  background: linear-gradient(to bottom, #3498db, #2c3e50)  /* Fondo animado */

  form
    max-width: 400px
    width: 100%
    padding: 5rem
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    border-radius: 8px
    background-color: rgba(255, 255, 255, 0.9)  /* Fondo semitransparente */

    h2
      color: #fff
      margin-bottom: 20px
      text-align: center
      font-size: 1.8rem

    mat-form-field
      width: 100%
      margin-bottom: 20px

      input
        width: 100%
        font-size: 1.2rem
        padding: 10px
        background-color: rgba(255, 255, 255, 0.7)  /* Fondo semitransparente */

    button
      width: 100%
      margin-top: 20px
      font-size: 1.2rem
      background-color: #2ecc71  /* Color verde atractivo */
      color: #fff
      border: none
      border-radius: 4px
      padding: 12px
      cursor: pointer
      transition: background-color 0.3s ease-in-out

      &:hover
        background-color: #27ae60  /* Color verde más oscuro al pasar el ratón */

  .alert
    margin-top: 1.5rem
    border-radius: 4px
    padding: 10px
    font-size: 1rem
    color: #fff

    &.alert-success
      background-color: #2ecc71

    &.alert-danger
      background-color: #e74c3c
