/* Estilos para el formulario */
form
  max-width: 400px
  margin: 50px auto
  padding: 20px
  background-color: #ffffff
  border-radius: 10px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  position: relative

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: linear-gradient(45deg, #3498db, #9b59b6)
    border-radius: 10px
    opacity: 0.8
    z-index: -1

  /* Estilos para las etiquetas */
  label
    display: block
    margin-bottom: 8px
    font-weight: bold
    color: #fff

  /* Estilos para los inputs */
  input
    width: 100%
    padding: 10px
    margin-bottom: 16px
    box-sizing: border-box
    border: 1px solid #ccc
    border-radius: 4px

  /* Estilos para el botón */
  button
    background-color: #3498db
    color: #fff
    padding: 10px 20px
    border: none
    border-radius: 4px
    cursor: pointer
    transition: background-color 0.3s

    &:hover
      background-color: #2980b9
