<form (ngSubmit)="editarEmpleado()" *ngIf="empleadoEditar">
  <label for="primerApellido">Primer Apellido:</label>
  <input matInput [(ngModel)]="empleadoEditar.primer_apellido" id="primer_apellido" name="primer_apellido" required>
  
  <!-- Otros campos del formulario -->
  
  <button type="submit">Guardar Cambios</button>
</form>
